<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <title>{{ page.title}} - {{ site.name }}
  </title>
  <script src="http://platform.twitter.com/anywhere.js?id=IrVoVLmkJDVw9Pagwdxsow&amp;v=1"
          type="text/javascript">
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Call + Response is an art show in Washington, DC, pairing writers and artists.">
  <meta name="author" content="William John Bert">

  <link rel="stylesheet" type="text/css" href="/static/fonts/fonts.css">
  <link rel="stylesheet" href="/static/css/bootstrap.css"/>

  <style>
    body {
    padding-top: 122px;
    padding-bottom: 40px;
    }

    .sidebar-nav {
    padding: 9px 0;
    }
  </style>
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.css"/>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
      <![endif]-->
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1913538-3']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

{% include _facebook.html %}
