<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="">
        <a href="/about">About
        </a>
      </li>
      <li class="">
        <a href="/opening">Opening
        </a>
      </li>
      <li class="">
        <a href="/participants">Participants
        </a>
      </li>
      <li class="">
        <a href="/sponsors">Sponsors
        </a>
      </li>
      <li class="">
        <a href="/contact">Contact
        </a>
      </li>
      <li class="">
        <a href="/press">Press
        </a>
      </li>
    </ul>
  </div>
</div>
